body {
    image-rendering: pixelated;
}
#game {
    width: 40vw;
    height: 39vw;
    background-color: #bfbfbf;
    border: #787878 solid 0.25vw;
}
#top {
    padding: 0 9vw;
    margin: 0.5vw 0;
    width: 100%;
}
#numbers {
    display: inline-block;
    background: black;
    height: 3vw;
    border: #787878 solid 0.125vw;
}
#numbers img {
    height: 3vw;
    margin: 0 0.166vw;
}
#face {
    width: 3.5vw;
    margin: 0 4vw;
}
#inner {
    width: 36vw;
    height: 32vw;
    background: #787878;
    margin-left: 2vw;
    border: #787878 solid 0.125vw;
}
#row {
    width: 100%;
    height: 2vw;
}
#tile {
    width: 2vw;
    height: 2vw;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}